body {
    background: #FFFFFF;
    font-family:monospace, sans-serif;
    color: #000000;
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:ubuntu, sans-serif;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

b {
    text-decoration: none;
}
b:hover {
    text-decoration: underline;
    color: green;
}

a {
    text-decoration: underline;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: blue;
}

h1 {
    font-size: 2.5em;
    font-family: monospace, sans-serif, lucida-sans;
}
h2 {
    font-size: 1.7em;
    font-family: monospace, sans-serif, lucida-sans;
    margin:0;
    padding:0;
}
h3 {
    font-size: 1.3em;
    font-family: monospace, sans-serif, lucida-sans;
    margin:0;
    padding:0;
}
h4 {
    font-size: 1.0em;
    font-family: monospace, sans-serif, lucida-sans;
    margin:0;
    padding:0;
}
h5 {
    font-size: 0.8em;
    font-family: monospace, sans-serif, lucida-sans;
    margin:0;
    padding:0;
}
h6 {
    font-size: 0.6em;
    font-family: monospace, sans-serif, lucida-sans;
    margin:0;
    padding:0;
}
p {
    font-family: inconsolata, sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #000000, #fffdf2;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
ul.blogs {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.blogs li {
    list-style: none;
}
.share-page {
    text-align: center;
    background: $secondary-color;
    color: #009688;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;*/

    a {
        font-weight: 700;
        color: #CDDC39;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}
