---
layout: default
title: Projects
---
	<h1>{{ page.title }}</h1>
	<ul class="project">

		{% for post in site.categories.projects%}
	    <li><span><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				<br>
				{{ post.summary }}
				<br>
			</li>
	  {% endfor %}
		<li><span><a href="https://github.com/akhilsathuluri/Five_Bar_Design" title="{{ post.title }}">Design of a 5-bar parallel manipulator</a>
			<br>
			Optimal design of a 5-bar parallel manipulator with respect to the Global Conditioning Index (GCI), Measure of Manipulability (MoM) and maximisation of the Safe Working Zone (SWZ) using NSGA-II
			<br>
		</li>
	</ul>
	<h1>Tutorials</h1>
	<ul class="tutorial">

    {% for post in site.categories.tutorials %}
      <li><span><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        <br>
        {{ post.summary }}
        <br>
      </li>
    {% endfor %}
    <li><span><a href="https://akhilsathuluri.github.io/blog/Tutorials/pdf/index_theorems.pdf" title="{{ post.title }}" target="_blank">Index Theorems</a>
      <br>
      Index theorems gives us a qualitative way to understand the vector field of a dynamical system, i.e., to know if there is a possibility of a closed orbit or to know what type of fixed points are possible within a curve etc.
      <br>
    </li>
    <li><span><a href="https://github.com/akhilsathuluri/flexible_link_sim" title="{{ post.title }}" target="_blank">Flexible rotating body simulation</a>
      <br>
      Simulation of the Lagrangian formulation of a flexible rotating beam modeled using Finite Element Method (FEM).
      <br>
    </li>
  </ul>

<h1>Archive</h1>
	<ul class="archive">
		<li><span><a href="pdf/survey_research_robots.pdf" title="{{ post.title }}" target="_blank">A report on robot research testbenches</a>
    </li>

		<li><span><a href="pdf/biomimetic.pdf" title="{{ post.title }}" target="_blank">A biomimetic design of a mantis shrimp arm</a>
		</li>

		<li><span><a href="pdf/footpegs_design.pdf" title="{{ post.title }}" target="_blank">Human factors based redesign of pillion rider foot-pegs</a>
		</li>

		<li><span><a href="pdf/topopt_report.pdf" title="{{ post.title }}" target="_blank">Topology Optimization: An approach to light weight-design</a>
		</li>
	</ul>
